language: c
sudo: true

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libxml2-dev autoconf automake autopoint bash bison bzip2 cmake flex gettext git g++ gperf intltool libffi-dev libtool libltdl-dev libssl-dev libxml-parser-perl make openssl p7zip-full patch perl pkg-config python ruby scons sed unzip wget xz-utils g++-multilib libc6-dev-i386
  
script: make check-requirements

